<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/nix</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">false</property>

        <mapping class="com.model.vehicle.Airplane"/>
        <mapping class="com.model.vehicle.Auto"/>
        <mapping class="com.model.vehicle.Engine"/>
        <mapping class="com.model.vehicle.Invoice"/>
        <mapping class="com.model.vehicle.Motorbike"/>
        <mapping class="com.model.vehicle.Vehicle"/>
    </session-factory>
</hibernate-configuration>